<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
      <!-- Parâmetros do Banco de Dados do Inspetor XML -->
      <add key="DBInspetor" value="bdinspetor"/>
      <add key="DBInspetorServer" value="10.10.10.210"/>
      <add key="UserDBInspetor" value="inspetor"/>
      <add key="PasswdDBInspetor" value="@inspetor"/>    
      <!-- Parâmetros do Banco de Dados do ERP -->
      <add key="TipoErp" value="Protheus"/>
      <add key="DBErp" value="Homologa_P11.8"/>
      <add key="DBErpServer" value="10.10.10.210"/>
      <add key="UserDBErp" value="inspetor"/>
      <add key="PasswdDBErp" value="@inspetor"/>
      <add key="TipoErp" value="Protheus"/>      
      <!-- Parâmetros Gerais da Aplicação -->
      <add key="PastaProcessar" value="C:\Inspetor\processar"/>
      <add key="PastaProcessados" value="C:\Inspetor\processados"/>
      <add key="PastaManual" value="C:\Inspetor\manual"/>
      <add key="PastaCriticados" value="C:\Inspetor\criticados"/>
      <add key="PastaLog" value="C:\Inspetor\log"/>
      <add key="TempoExecucao" value="6000"/>
      <add key="AtivaLog" value="1"/>
      <add key="User" value="InspXML"/>
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>

</configuration>
