<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <!-- Parâmetros do Banco de Dados do Inspetor XML -->
      <add key="DBInspetor" value="DBInspetorCMS"/>
      <add key="DBInspetorServer" value="localhost"/>
      <add key="UserDBInspetor" value="sa"/>
      <add key="PasswdDBInspetor" value="lokiju#78"/>    
      <!-- Parâmetros do Banco de Dados do ERP -->
      <add key="TipoErp" value="Protheus"/>
      <add key="DBErp" value="Protheus_NK"/>
      <add key="DBErpServer" value="localhost"/>
      <add key="UserDBErp" value="sa"/>
      <add key="PasswdDBErp" value="lokiju#78"/>
      <add key="TipoErp" value="Protheus"/>      
      <!-- Parâmetros Gerais da Aplicação -->
      <add key="PastaProcessar" value="C:\Inspetor\processar"/>
      <add key="PastaProcessados" value="C:\Inspetor\processados"/>
      <add key="PastaManual" value="C:\Inspetor\manual"/>
      <add key="PastaCriticados" value="C:\Inspetor\criticados"/>
      <add key="PastaLog" value="C:\Inspetor\log"/>
      <add key="TempoExecucao" value="6000"/>
      <add key="AtivaLog" value="1"/>
      <add key="User" value="InspXML"/>
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

</configuration>